.project
.cproject
config.log
CMakeCache.txt
CMakeFiles
CTestTestfile.cmake
CPackConfig.cmake
CPackSourceConfig.cmake
_CPack_Packages
Testing
Makefile
cmake_install.cmake
install_manifest.txt
*.deb
*~
*.orig
/hnetd
/test_*
.settings
/coverage
/coverage.info

