.project
.cproject
config.log
CMakeCache.txt
CMakeFiles
CMakeScripts
Debug
Release
hnetd.build
hnetd.xcodeproj
CTestTestfile.cmake
CPackConfig.cmake
CPackSourceConfig.cmake
_CPack_Packages
Testing
Makefile
cmake_install.cmake
install_manifest.txt
*.deb
*~
*.orig
/hnetd
/test_*
.settings
/coverage
/coverage.info
.DS_Store
/cscope.*
libdncp.a
libdncp_example
